<div id="<%= dom_id order_shoe %>">
  <p>
    <strong>Order:</strong>
    <%= order_shoe.order_id %>
  </p>

  <p>
    <strong>Shoe:</strong>
    <%= order_shoe.shoe_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_shoe.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= order_shoe.discount %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= order_shoe.active %>
  </p>

</div>
