.hero-wrap.hero-bread{:style => "background-image: url(#{asset_path 'bg_6.jpg'})"}
  .container
    .row.no-gutters.slider-text.align-items-center.justify-content-center
      .col-md-9.ftco-animate.text-center
        %p.breadcrumbs
          %span.mr-2
            = link_to 'home', home_index_path
          %span= t ('.blog')
        %h1.mb-0.bread= t ('.blog')
%section.ftco-section.ftco-degree-bg
  .container
    .row
      .col-lg-8.order-lg-last.ftco-animate
        .row
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              %a.block-20{:href => "blog-single.html", :style => "background-image: url(#{asset_path 'image_1.jpg'})"}
              .text.d-block.pl-md-4
                .meta.mb-3
                  %div
                    %a{:href => "#"} April 9, 2019
                  %div
                    %a{:href => "#"} Admin
                  %div
                    %a.meta-chat{:href => "#"}
                      %span.icon-chat
                      3
                %h3.heading
                  %a{:href => "#"}
                    Even the all-powerful Pointing has no control about the
                    blind texts
                %p
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts.
                %p
                  %a.btn.btn-primary.py-2.px-3{:href => "blog-single.html"} Read more
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              %a.block-20{:href => "blog-single.html", :style => "background-image: url(#{asset_path 'image_2.jpg'})"}
              .text.d-block.pl-md-4
                .meta.mb-3
                  %div
                    %a{:href => "#"} April 9, 2019
                  %div
                    %a{:href => "#"} Admin
                  %div
                    %a.meta-chat{:href => "#"}
                      %span.icon-chat
                      3
                %h3.heading
                  %a{:href => "#"}
                    Even the all-powerful Pointing has no control about the
                    blind texts
                %p
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts.
                %p
                  %a.btn.btn-primary.py-2.px-3{:href => "blog-single.html"} Read more
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              %a.block-20{:href => "blog-single.html", :style => "background-image: url(#{asset_path 'image_3.jpg'})"}
              .text.d-block.pl-md-4
                .meta.mb-3
                  %div
                    %a{:href => "#"} April 9, 2019
                  %div
                    %a{:href => "#"} Admin
                  %div
                    %a.meta-chat{:href => "#"}
                      %span.icon-chat
                      3
                %h3.heading
                  %a{:href => "#"}
                    Even the all-powerful Pointing has no control about the
                    blind texts
                %p
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts.
                %p
                  %a.btn.btn-primary.py-2.px-3{:href => "blog-single.html"} Read more
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              %a.block-20{:href => "blog-single.html", :style => "background-image: url(#{asset_path 'image_5.jpg'})"}
              .text.d-block.pl-md-4
                .meta.mb-3
                  %div
                    %a{:href => "#"} April 9, 2019
                  %div
                    %a{:href => "#"} Admin
                  %div
                    %a.meta-chat{:href => "#"}
                      %span.icon-chat
                      3
                %h3.heading
                  %a{:href => "#"}
                    Even the all-powerful Pointing has no control about the
                    blind texts
                %p
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts.
                %p
                  %a.btn.btn-primary.py-2.px-3{:href => "blog-single.html"} Read more
          .col-md-12.d-flex.ftco-animate
            .blog-entry.align-self-stretch.d-md-flex
              %a.block-20{:href => "blog-single.html", :style => "background-image: url(#{asset_path 'image_6.jpg'})"}
              .text.d-block.pl-md-4
                .meta.mb-3
                  %div
                    %a{:href => "#"} April 9, 2019
                  %div
                    %a{:href => "#"} Admin
                  %div
                    %a.meta-chat{:href => "#"}
                      %span.icon-chat
                      3
                %h3.heading
                  %a{:href => "#"}
                    Even the all-powerful Pointing has no control about the
                    blind texts
                %p
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts.
                %p
                  %a.btn.btn-primary.py-2.px-3{:href => "blog-single.html"} Read more
        .row.mt-2
          .col
            .block-27
              %ul
                %li
                  %a{:href => "#"} &lt;
                %li.active
                  %span 1
                %li
                  %a{:href => "#"} 2
                %li
                  %a{:href => "#"} 3
                %li
                  %a{:href => "#"} 4
                %li
                  %a{:href => "#"} 5
                %li
                  %a{:href => "#"} &gt;
      / .col-md-8
      .col-lg-4.sidebar.ftco-animate
        .sidebar-box
          %form.search-form{:action => "#"}
            .form-group
              %span.icon.ion-ios-search
              %input.form-control{:placeholder => "Type a keyword and hit enter", :type => "text"}/
        .sidebar-box.ftco-animate
          %h3.heading= t ('.categories')
          %ul.categories
            %li
              %a{:href => "#"}
                Shoes
                %span (12)
            %li
              %a{:href => "#"}
                Mens shoes
                %span (22)
            %li
              %a{:href => "#"}
                Womens shoes
                %span (37)
            %li
              %a{:href => "#"}
                Accessories
                %span (42)
            %li
              %a{:href => "#"}
                Sports
                %span (14)
            %li
              %a{:href => "#"}
                Lifestyle
                %span (140)
        .sidebar-box.ftco-animate
          %h3.heading Recent Blog
          .block-21.mb-4.d-flex
            %a.blog-img.mr-4{:style => "background-image: url(#{asset_path 'image_1.jpg'})"}
            .text
              %h3.heading-1
                %a{:href => "#"}
                  Even the all-powerful Pointing has no control about the
                  blind texts
              .meta
                %div
                  %a{:href => "#"}
                    %span.icon-calendar
                    April 27, 2019
                %div
                  %a{:href => "#"}
                    %span.icon-person
                    Admin
                %div
                  %a{:href => "#"}
                    %span.icon-chat
                    19
          .block-21.mb-4.d-flex
            %a.blog-img.mr-4{:style => "background-image: url(#{asset_path 'image_2.jpg'})"}
            .text
              %h3.heading-1
                %a{:href => "#"}
                  Even the all-powerful Pointing has no control about the
                  blind texts
              .meta
                %div
                  %a{:href => "#"}
                    %span.icon-calendar
                    April 27, 2019
                %div
                  %a{:href => "#"}
                    %span.icon-person
                    Admin
                %div
                  %a{:href => "#"}
                    %span.icon-chat
                    19
          .block-21.mb-4.d-flex
            %a.blog-img.mr-4{:style => "background-image: url(#{asset_path 'image_3.jpg'})"}
            .text
              %h3.heading-1
                %a{:href => "#"}
                  Even the all-powerful Pointing has no control about the
                  blind texts
              .meta
                %div
                  %a{:href => "#"}
                    %span.icon-calendar
                    April 27, 2019
                %div
                  %a{:href => "#"}
                    %span.icon-person
                    Admin
                %div
                  %a{:href => "#"}
                    %span.icon-chat
                    19
        .sidebar-box.ftco-animate
          %h3.heading Tag Cloud
          .tagcloud
            %a.tag-cloud-link{:href => "#"} shop
            %a.tag-cloud-link{:href => "#"} products
            %a.tag-cloud-link{:href => "#"} shirt
            %a.tag-cloud-link{:href => "#"} jeans
            %a.tag-cloud-link{:href => "#"} shoes
            %a.tag-cloud-link{:href => "#"} dress
            %a.tag-cloud-link{:href => "#"} coats
            %a.tag-cloud-link{:href => "#"} jumpsuits
            %p
        .sidebar-box.ftco-animate
          %h3.heading Paragraph
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ducimus itaque, autem necessitatibus voluptate quod mollitia
          delectus aut, sunt placeat nam vero culpa sapiente consectetur
          similique, inventore eos fugit cupiditate numquam!

