<div class="hero-wrap hero-bread" style="background-image: url(<%= asset_path 'bg_6.jpg'%>)">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="index.html">Home</a></span>
          <span>Your orders</span>
        </p>
        <h1 class="mb-0 bread">Your orders</h1>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section bg-light ">
  <div class="container">
    <div class="one ftco-cart">
      <div class="row">
        <%# <h3>Your Orders</h3> %>
        <% if @user_orders.present? %>
        <table class="table">
          <thead class="thead-primary">
            <tr class="text-center">
              <th>Sr No.</th>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Payment Method</th>
              <th>Total</th>
              <th>Discount</th>
              <th>Order details</th>
            </tr>
          </thead>
          <tbody>
            <% @user_orders.each_with_index do |order, index| %>
              <tr class="text-center">
                <td class="price"><%= index + 1 %></td>
                <td class="price"><%= order.name %></td>
                <td class="price"><%= order.email %></td>
                <td class="price"><%= order.address %></td>
                <td class="price"><%= order.pay_method %></td>
                <td class="price"><%= order.total%></td>
                <td class="price"><%= order.discount %></td>
                <td class="price"><%= link_to "details", order, class:"btn btn-primary py-2 px-2" %></td>
              </tr>
            <% end %>
          </tbody>  
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
