<!DOCTYPE html>
<html>
  <head>
    <title>Shoeshop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="goto-here vh-100">
    <%= render 'layouts/header'%>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info mb-0" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" area-label="close"> 
          <span area-hidden="true">&times;</span>
        </button> 
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer'%>
    <%= javascript_include_tag 'application', "data-turbo-track": "reload" %>
  </body>
</html>
